{
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-debugger": "error",
    "no-unreachable": "error",
    "no-unused-vars": "error",
    "no-unused-expressions": "error",
    "complexity": ["error", 10],
    "consistent-return": "error"
  }
}
